In [40]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.3.1'

In [4]:
df= pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

Records count
How many records are in the dataset?

In [60]:
len(df)

9704

Fuel types
How many fuel types are presented in the dataset?

In [11]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

Missing values
How many columns in the dataset have missing values?

In [12]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [14]:
df.groupby('origin').fuel_efficiency_mpg.max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

Median value of horsepower
Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column.
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.
Has it changed?

In [16]:
df.horsepower.median()

np.float64(149.0)

In [25]:
freq=df.horsepower.mode()[0]

In [26]:
df['horsepower'].fillna(freq,inplace=True)

/tmp/ipykernel_3046/3427350658.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(freq,inplace=True)

In [27]:
df.horsepower.median()

np.float64(152.0)

Sum of weights
Select all the cars from Asia
Select only columns vehicle_weight and model_year
Select the first 7 values
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?

In [49]:
x=df[df['origin']=='Asia'][['vehicle_weight','model_year']].head(7)

In [50]:
x

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [51]:
xtx=np.dot(x.T,x)
xtx

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [52]:
inv_xtx=np.linalg.inv(xtx)
inv_xtx

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [53]:
y= [1100, 1300, 800, 900, 1000, 1100, 1200]

In [55]:
xt=x.T
xt

,8,12,14,20,21,34,38
vehicle_weight,2714.21931,2783.868974,3582.687368,2231.808142,2659.431451,2844.227534,3761.994038
model_year,2016.00000,2010.000000,2007.000000,2011.000000,2016.000000,2014.000000,2019.000000

In [57]:
w=np.dot(np.dot(inv_xtx,xt),y)

In [58]:
result = np.sum(w)

In [59]:
result

np.float64(0.5187709081074016)